.color_card_custom {
	background-color: #a5aaa7 !important;
}
.color_panel_custom {
	background-color: #DFEFE7;
}
.margin_right_5 {
	margin-right: 5px;
}
.margin_right_10 {
	margin-right: 10px;
}
.margin_right_15 {
	margin-right: 15px;
}
.margin_right_20 {
	margin-right: 20px;
}
.margin_right_25 {
	margin-right: 25px;
}

.margin_left_5 {
	margin-left: 5px;
}
.margin_left_10 {
	margin-left: 10px;
}
.margin_left_15 {
	margin-left: 15px;
}
.margin_left_20 {
	margin-left: 20px;
}
.margin_left_25 {
	margin-left: 25px;
}

.margin_bottom_5 {
	margin-bottom: 5px;
}
.margin_bottom_10 {
	margin-bottom: 10px;
}
.margin_bottom_15 {
	margin-bottom: 15px;
}
.margin_bottom_20 {
	margin-bottom: 20px;
}
.margin_bottom_25 {
	margin-bottom: 25px;
}